* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  &:hover {
    text-decoration: underline;
  }
}

.mainWrap {
  overflow-x: hidden;
  background: #fefefe;
}

.textUppercase {
  text-transform: uppercase;
}

.width50 {
  width: 50% !important;
}

.fullHeight {
  height: 100%;
}
